@charset "UTF-8";
body {
  background-color: var(--primery-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .container .section__title {
    margin-bottom: 50px;
  }
}

.site-nav, .contact-nav, .header-social-list, .filter, .card-set, .social-list, .contacts__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo, .header__logo, .footer__logo, .site-nav__item .site-nav__link, .contact-nav__link, .header-social-list, .header-social-list__link, .example, .contacts__link {
  text-decoration: none;
}

.subscribe__button {
  min-width: 200px;
  padding: 10px 10px;
  border-width: 0;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: relative;
  border: 1px solid #ececec;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-button {
  position: relative;
  z-index: 10;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__menu-button:hover {
  cursor: pointer;
}

.header__menu-button:hover .header__icon--menu,
.header__menu-button:focus .header__icon--menu,
.header__menu-button:hover .header__icon--close,
.header__menu-button:focus .header__icon--close {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__icon--close {
  display: none;
}

.header__menu-button--is-open .header__icon--close {
  display: block;
}

.header__menu-button--is-open .header__icon--menu {
  display: none;
}

.header__menu {
  background-color: #ffffff;
  padding: 48px 40px;
  text-align: left;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .header__menu.header__menu--is-open {
    display: block;
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0;
  }
}

.logo, .header__logo, .footer__logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo, .header__logo, .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  padding: 10px 0;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

.logo__accent {
  color: #2196f3;
}

.footer__logo {
  display: block;
  padding: 0;
  margin-right: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 302px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child):not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__item .site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav__item .site-nav__link {
    font-size: 40px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
  }
}

.site-nav__item .site-nav__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__item .site-nav__link--current {
    position: relative;
  }
  .site-nav__item .site-nav__link--current::after {
    content: ' ';
    display: block;
    margin-top: 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.site-nav__item .site-nav__link:hover, .site-nav__item .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-nav {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contact-nav__link {
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact-nav__link {
    font-size: 24px;
    line-height: 1.17;
  }
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contact-nav__link {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 479px) {
  .contact-nav__link--blue {
    color: #2196f3;
    font-size: 24px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .contact-nav__link--blue {
    color: #2196f3;
    font-size: 34px;
    line-height: 1.18;
  }
}

.contact__icon {
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.contact-nav__link:hover .contact__icon,
.contact-nav__link:focus .contact__icon {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.header-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .header-social-list {
    display: none;
  }
}

.header-social-list__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filter {
    margin: -8px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-right: 8px;
  }
}

.filter__button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--active {
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .card-set__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.example {
  display: flex;
  height: 100%;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
}

.example:hover, .example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__thumb {
  position: relative;
  overflow: hidden;
}

.example__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}

.card-set__item:hover .example__overlay {
  transform: translateY(0%);
}

.example__descr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  flex-grow: 1;
}

.example__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.example__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__settings {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__settings {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__nav {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.block--right {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .block--right {
    margin-right: 93px;
    margin-bottom: 0px;
  }
}

.block__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  margin-right: -5px;
  margin-left: -5px;
}

.social-list__item {
  margin-right: 5px;
  margin-left: 5px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--bgc {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon--white {
  fill: #ffffff;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-bottom: 0;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__link--adress {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .block {
    text-align: center;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolioMain.css.map */