.section--feature {
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }
}

.section__title--hidden {
  @extend %visually-hidden;
}

.feature-list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    @include centeredFlex(flex, center, baseline);
    flex-wrap: wrap;
    margin: -15px;
  }
}

.feature-list__item {
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 120px) / 4);
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.feature-list__icon {
  @include centeredFlex;
  background-color: $secondary-background-color;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature-list__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $secondary-text-color;

  font-weight: 400;
  line-height: 1.71;
}
