.footer {
  background-color: $background-color-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__settings {
  text-align: center;

  @media screen and (min-width: $tablet) {
    @include centeredFlex(flex, center, baseline);
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    text-align: left;
  }

  // @media screen and (min-width: $desktop) {
  //   @include centeredFlex(flex, center, baseline);
  // }
}
.footer__nav {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 70px;
    margin-bottom: 0px;
    text-align: left;
  }
}

.block--right {
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    margin-bottom: 0px;
    text-align: left;
  }
}

.block__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primery-background-color;
  margin-bottom: 20px;
  margin-top: 0;
}
