// .contacts__list {
//   @extend %list;
// }

// .contacts__item {
//   &:not(:last-child) {
//     margin-bottom: 9px;
//   }
// }
// .contacts__link {
//   @extend %link;
//   color: rgba(255, 255, 255, 0.6);
//   font-weight: 400;
//   line-height: 1.71;
//   font-style: normal;
//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
//   &--adress {
//     color: $primery-background-color;
//   }
// }

.contacts {
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.contacts__list {
  @extend %list;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }
}
.contacts__link {
  @extend %link;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--adress {
    color: $primery-background-color;
  }
}
