.subscribe {
  @media screen and (min-width: $desktop) {
    @include centeredFlex;
  }
}
.block {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__button {
  @extend %button;
  @include centeredFlex(inline-flex, center, center);

  @media screen and (min-width: $desktop) {
    @include centeredFlex;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: $primery-background-color;
}
