.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 11px;
  padding-left: 42px;
  height: 40px;
  outline: transparent;

  transition: border 250ms $timing-function;
  .form__field:hover &,
  .form__field:focus-within & {
    border: 1px solid #2196f3;
  }
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: $primary-text-color;
  pointer-events: none;

  transition: fill 250ms $timing-function;
  .form__field:hover &,
  .form__field:focus-within & {
    fill: $accent-color;
  }
}

.form__comment {
  margin-bottom: 20px;
}

.form__comment-text {
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  transition: border 250ms $timing-function;
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form__agreement {
  @include centeredFlex;
  flex-direction: row;
  margin-bottom: 30px;
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__checkbox-descr {
  @media screen and (max-width: 469px) {
    @include centeredFlex;
    flex-wrap: wrap;
    text-align: center;
  }
}

.form__checkbox-text {
  color: $secondary-text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox-link {
  color: $accent-color;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
}

.form__checkbox:checked + .form__checkbox-icon {
  border: transparent;
  background-image: url(/images/icons/icon-check.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form__checkbox-icon:focus {
  border: transparent;
  background-image: url(/images/icons/icon-check.svg);
  outline: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

.form__button {
  @extend %button;
  display: block;
  margin-right: auto;
  margin-left: auto;

  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: #188ce8;
    outline: transparent;
  }
}
