.card-set {
  @include centeredFlex;
  @extend %list;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card-set__item {
  width: 370px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.example {
  @extend %link;
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms $timing-function;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.example__thumb {
  position: relative;
  overflow: hidden;
}

.example__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms $timing-function;
  opacity: 1;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primery-background-color;
  background: rgba(33, 150, 243, 0.9);

  .card-set__item:hover & {
    transform: translateY(0%);
  }
}

.example__descr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.example__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $secondary-text-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.example__title {
  margin-top: 0;
  margin-bottom: 4px;

  color: $primary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
