.site-nav {
  @extend %list;
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }
  @media screen and (min-width: $tablet) {
    @include centeredFlex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
    &:not(:last-child) {
      @media screen and (min-width: $tablet) {
        margin-right: 50px;
      }
    }
  }

  .site-nav__link {
    @extend %link;
    @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 1.18;
    }

    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $timing-function;

    @media screen and (min-width: $tablet) {
      padding-top: 32px;
      padding-bottom: 32px;
      justify-content: center;
      align-items: center;
    }

    &--current {
      color: $accent-color;

      @media screen and (min-width: $tablet) {
        position: relative;
        &::after {
          content: ' ';
          display: block;
          margin-top: 28px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $accent-color;
          border-radius: 2px;
        }
      }
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
