// Text color
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$studio-in-heder: #000000;

// Bg color
$primery-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$background-color-footer: #2f303a;
$background-color-hero: #c4c4c4;
$icon-color: #afb1b8;

// Fonts
$primery-font-family: Roboto;
$secondary-font-family: Raleway;

// Others
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
